/* styles.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-image: url('paul wall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: auto;
    height: auto;
}

audio {
    position: absolute;
    bottom: 0;
    width: 100%;
}
